html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
#main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  position: relative;
  background-color: red;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#skull {
  padding: 2vh;
  padding-bottom: 0;
  position: relative;
  z-index: 3;
}
.warning-msg {
  position: relative;
  padding: 1.5vw;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  z-index: 4;
  font-family: 'VT323', monospace;
  letter-spacing: 0.5em;
}
.background-bars-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50%;
}
#bottom-background-bars-wrapper {
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#top-background-bars-wrapper {
  align-items: flex-start;
  top: 0;
  left: 0;
  z-index: 2;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.5s;
}
.bar7 {
  animation-delay: 0.4s;
}
.bar8 {
  animation-delay: 0.3s;
}
.bar9 {
  animation-delay: 0.2s;
}
.bar10 {
  animation-delay: 0.1s;
}
.background-bar {
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-name: bar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 50%;
  width: 10%;
  margin-left: 1px;
  margin-right: 1px;
  background-color: black;
}
@-webkit-keyframes bar {
  from {
    height: 50%;
  }
  to {
    height: 90%;
  }
}
@keyframes bar {
  from {
    height: 50%;
  }
  to {
    height: 90%;
  }
}
