{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='500.css') }}" />
<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">{{ number }} Error</h1>
                    <div class="im-sheep">
                        <div class="top">
                            <div class="body"></div>
                            <div class="head">
                                <div class="im-eye one"></div>
                                <div class="im-eye two"></div>
                                <div class="im-ear one"></div>
                                <div class="im-ear two"></div>
                            </div>
                        </div>
                        <div class="im-legs">
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                        </div>
                    </div>
                    {% if number == 500 %}
                     <h4>Oops! Server Error!</h4>
                    <p>Sorry We Have problem inside the Server.</p>
                    {% elif number == 405 %}
                    <h4>Oops! Method Not Allowed!</h4>
                    <p>WHAT THE HELL ARE YOU DOING! .</p>
                    {% endif %}
                    <a href="{{ url_for('index') }}" class="btn btn-primary btn-round">Go to homepage</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}