{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Manage Users</h1>
    <p>Change password<a href="https://apps.apple.com/us/app/google-authenticator/id388497605">iTunes</a> | <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Google Play</a></p>
    {{ wtf.quick_form(form) }}
    <br>
    <div class="alert alert-danger" role="alert">Note: The next page will show sensitive information. Make sure nobody can see your screen before pressing the Register button.</div>
{% endblock %}
