{% extends "base.html" %}

{% block page_content %}
<html>
<head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='password_of_the_Day.css') }}" />
        <script type="application/javascript" src="{{ url_for('static', filename='password_of_the_Day.js') }}"></script>
    </head>
    <body>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<h1>Password of the Day!</h1>
<h2>User: <span
     class="txt-rotate"
     data-period="5000"
     data-rotate='[ "{{ username }}"]'></span>
</h2>

<h2>Password: <span
     class="txt-rotate"
     data-period="5000"
     data-rotate='[ "{{ password }}"]'></span>
</h2>
    </body>
{% endblock %}

